* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-top: 60px;
  background-image: url(../img/main_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  color: black;
  font-family: Arial, sans-serif;
  line-height: 20px;
}

.container {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
}

.ba-form {
  border: 1px solid #ccc;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.ba-form__title {
  font-size: 24px;
  font-weight: bold;
  color: #1b1c1d;
  margin: 0;
}

.ba-form__title::before {
  content: url(../img/icon.png);
  margin-right: 10px;
  vertical-align: middle;
}

.ba-form__desc {
  font-size: 13px;
  font-weight: 400;
  color: #7a7b7f;
  margin: 10px 0 30px 0;
}

.ba-form__desc_down {
  font-size: 12px;
}

.ba-form__link {
  font-size: 13px;
  font-weight: 400;
  color: #ea355a;
  text-decoration: none;
}

.ba-form__link_down {
  color: #e12a6c;
  font-size: 12px;
}

.ba-form-control_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ba-form__input {
  font-size: 14px;
  font-weight: 400;
  color: #7a7b7f;
  padding: 15px;
  margin-bottom: 15px;
  height: 40px;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: none;
  display: block;
  width: 100%;
  
}

.ba-form__input_name {
  width: 48%;
}

.ba-form__submit {
  background-color: #ea355a;
  border: none;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 0 1.5em;
  transition: 0.4s;
  width: 100%;
  box-shadow: 0px 3px 0px 0px rgba(189,25,98,1);
  margin-bottom: 10px;
}

.ba-form__submit:hover {
  opacity: 0.75;
}

.ba-form__submit:active {
  opacity: 0.5;
}
